.calc{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 20px;
}
.output{
  height:55px;
  width: 278px;
  color: #fff;
  padding:10px ;
}
table{
  width: 250px;
  border: 1px solid gray;
background-color: beige;
}
.reset{
  background-color: rgb(71, 12, 182);
  color: aliceblue;
  text-align: center;
}
.equla{
  background-color: #09c;
  color: aliceblue;
  text-align: center;
}
td{
  text-align: center;
  border: 1px solid black;
  padding: 25px;
  /* width: 20px;
  height: 20px; */

}

.bc{
  color: #fff;
  background-color: rgb(155, 44, 62);
}

